@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

.gridclass{
    height: 550px;
    --mask: conic-gradient(from -62.5deg at bottom,#0000,#000 1deg 124deg,#0000 125deg) 50%/115.26px 100%;
    -webkit-mask: var(--mask);
            mask: var(--mask);
}
